.animate-spin {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
/* Asegúrate de que las imágenes se mantengan dentro de los límites */
img {
    max-width: 100%;
    height: auto;
  }
  