<aside
  class="bg-gradient-to-br from-gray-800 to-gray-900 -translate-x-80 fixed inset-0 z-50 my-4 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0"
>
  <div class="relative border-b border-white/20">
    <!-- Mostrar el rol dinámicamente -->
    <a class="flex items-center gap-4 py-6 px-8" href="/panel">
      <img src="images/escudo-UEB.png" alt="Logo UEB" class="h-12 w-auto rounded-lg" />
      <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white">
        Dirección de Vinculación UEB <br />
        {{ userRole === 'admin' ? 'Administrador' : 'Revisor' }}
      </h6>
    </a>
  </div>
  <div class="m-4">
    <ul class="mb-4 flex flex-col gap-1">
      <!-- Botón Publicar Convocatorias (Solo para Admin) -->
      <li *ngIf="userRole === 'admin'">
        <a
          routerLink="/panel/convocatorias/crear"
          routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }"
          class="block"
        >
          <button
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white flex w-full items-center gap-4 px-4 capitalize"
            type="button"
          >
            Publicar Convocatorias
          </button>
        </a>
      </li>

      <!-- Botón Convocatorias (Admin y Revisor) -->
      <li *ngIf="userRole === 'admin' || userRole === 'revisor'">
        <a
          routerLink="/panel/convocatorias"
          routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }"
          class="block"
        >
          <button
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white flex w-full items-center gap-4 px-4 capitalize"
            type="button"
          >
            Convocatorias
          </button>
        </a>
      </li>

      <!-- Botón Crear Usuarios (Solo para Admin) -->
      <li *ngIf="userRole === 'admin'">
        <a
          routerLink="/panel/users"
          routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }"
          class="block"
        >
          <button
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white flex w-full items-center gap-4 px-4 capitalize"
            type="button"
          >
            Crear Usuarios
          </button>
        </a>
      </li>

      <!-- Botón Usuarios (Solo para Admin) -->
      <li *ngIf="userRole === 'admin'">
        <a
          routerLink="/panel/users/list"
          routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20 rounded-lg"
          [routerLinkActiveOptions]="{ exact: true }"
          class="block"
        >
          <button
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white flex w-full items-center gap-4 px-4 capitalize"
            type="button"
          >
            Usuarios
          </button>
        </a>
      </li>
    </ul>
  </div>
</aside>
